/* main {
  display: grid;
  justify-content: center;
  align-items: center;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: play;
}

html,
body {
  display: grid;
  height: 100%;
  place-items: center;
  background: rgb(0, 0, 0);
  color: white;
}

ul {
  list-style-type: none;
}

main {
  width: 380px;
  background: rgb(43, 42, 41);
  border-radius: 10px;
}

main h1 {
  line-height: 80px;
  display: grid;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  background-color: gray;
}

::placeholder {
  color: white;
}

button {
  width: 100%;
}
